:root {
  --bg: #0e0f1a;
  --card: #171a2b;
  --text: #eef1ff;
  --dim: #b6bddb;
  --accent: #dbddc2;
  --accent2: #beb039;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Jura:wght@300..700&family=Orbitron:wght@400..900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Jura", sans-serif;
  background: radial-gradient(circle at 30% 20%, #1b1f3a, #0e0f1a 60%);
  color: var(--text);
  overflow-x: hidden;
}
body::-webkit-scrollbar {  
  display: none;
}
.header_frieren {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: "Orbitron", sans-serif;
}
.header_frieren h2 {
  font-family: "Cinzel";
  color: var(--accent);
  letter-spacing: 2px;
}
nav a {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--dim);
  transition:
    background 0.3s,
    color 0.3s;
}
nav a:hover {
  background: rgba(125, 211, 252, 0.15);
  color: var(--accent);
}
.frieren_info {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 8%;
  flex-wrap: wrap;
  padding-top: 0;
}
.frieren_info h2 {
  font-family: "Cinzel", serif;
  font-size: 3rem;
  background: linear-gradient(90deg, var(--accent), var(--accent2));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.frieren_info span {
    font-family: "Jura", sans-serif;
}
.frieren_info p {
  color: var(--dim);
  max-width: 520px;
  margin-top: 20px;
  line-height: 1.7;
  font-family: "Jura", sans-serif;
}
.frieren_info img {
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 0 60px rgba(252, 246, 132, 0.35);
}
section {
  padding: 80px 8%;
  padding-top: 0;
}
.section-title {
  font-family: "Jura", sans-serif;
  color: var(--accent);
  margin-bottom: 20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}
.card {
  background: var(--card);
  padding: 25px;
  border-radius: 15px;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(125, 211, 252, 0.25);
  border-color: var(--accent2);
}
.card h4 {
  color: var(--accent2);
  margin-bottom: 10px;
}
.card p {
  color: var(--dim);
  font-size: 0.95rem;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  opacity: 0.4;
}
.bg-glow {
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(247, 85, 155, 0.201),
    transparent 60%
  );
  z-index: -1;
}
footer {
  text-align: center;
  padding: 40px;
  color: var(--dim);
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}
.carousel {
  width: 100%;
  overflow: hidden;
}
.track {
  display: flex;
  width: max-content;
}
.track img {
  width: 16vw;
  height: 220px;
  object-fit: cover;
  flex-shrink: 0;
  padding: 12px;
  border-radius: 30px;
  transition: 0.4s;
}
.track img:hover {
  transform: translateY(-8px);
}
@keyframes moveLeft {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@keyframes moveRight {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
.track-left {
  animation: moveLeft 60s linear infinite;
}
.track-right {
  animation: moveRight 60s linear infinite;
}
