:root {
  --bg: #07070d;
  --card: #12121a;
  --text: #f5f7ff;
  --dim: #9ca3af;
  --accent: #4c6175;
  --accent2: #817e51;
  --accent3: #dbbf9c;
  --accent4: #4d396d;
  --accent5: #ab99a1;
  --accent6: #ac6ea2;
  --accent7: #522fb1;
}
@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Orbitron:wght@400..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #203246;
}
.video-bg {
  position: fixed;
  top: 69px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
  opacity: 0.85;
}
body::-webkit-scrollbar {
  display: none;
}
.bg-glow {
  position: fixed;
  inset: 0;
  background: radial-gradient(
    circle at 70% 30%,
    rgba(13, 2, 57, 0.615),
    transparent 60%
  );
  z-index: -1;
}
.header_chamber {
  position: sticky;
  top: 0;
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.4);
  padding: 18px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  font-family: "Orbitron", sans-serif;
  width: 100%;
  margin-bottom: 80px;
}
.header_chamber h2 {
  font-family: "Orbitron";
  background: linear-gradient(
    90deg,
    var(--accent5),
    var(--accent6),
    var(--accent7)
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  font-weight: 1000;
}
nav a {
  display: inline-block;
  padding: 7px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--dim);
  transition:
    background 0.3s,
    color 0.3s;
}
nav a:hover {
  color: var(--accent2);
  background: rgba(253, 248, 165, 0.15);
}
.container {
  margin-top: 30px;
  padding: 0 80px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 30px;
}
.colum2 {
  margin-top: 30px;
  padding: 0 80px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}
.colum1 {
  margin-top: 30px;
  padding: 0 80px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 30px;
}

.game-card {
  background: rgba(13, 13, 43, 0.791);
  padding: 60px;
  border: 1px solid #57542b;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  margin-bottom: 130px;
  text-align: center;
  color: white;
  width: 578px;
  height: 578px;
}
.game-card h2 {
  font-size: xx-large;
  background: linear-gradient(90deg, var(--accent3), var(--accent4));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.main-btn {
  background-color: var(--accent);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition:
    transform 0.1s,
    background-color 0.3s;
  margin-top: 30px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}
.chamber-smile {
  width: 300px;
  height: auto;
  margin-top: 20px;
}

.main-btn:active {
  transform: scale(0.95);
}

.secondary-btn {
  background-color: var(--accent2);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  margin: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: 600;
}

input[type="number"] {
  padding: 10px;
  font-size: 12px;
  width: 137px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Orbitron", sans-serif;
  font-weight: 500;
}

.history-section {
  margin-top: 20px;
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
}

.history-item {
  margin-top: 10px;
  background: #9c9fabc2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 14px;
  border-left: 4px solid #007bff;
  color: #12121a;
}
.adventure-display {
  font-family: "Jura", sans-serif;
  letter-spacing: normal;
  font-weight: 500;
}
/* ////////////////////////////////////////////////////////// */
.second {
  background: white;
  margin: 40px auto;
  padding: 20px;
  width: 80%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#gameArea {
  position: relative;
  height: 300px;
  border: 2px solid black;
  margin-top: 20px;
}
button {
  font-family: "Orbitron", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}
#reactionBtn {
  font-family: "Jura", sans-serif;
  border: none;
  border-radius: 5px;
  background-color: var(--accent);
  position: absolute;
  padding: 15px 20px;
  display: none;
  cursor: pointer;
}
#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin: 20px 0;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 40px;
  cursor: pointer;
}

#maze {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px;
  justify-content: center;
  margin: 20px 0;
}

.cellMaze {
  width: 30px;
  height: 30px;
}

.wall {
  background: var(--accent5);
}
.player {
  background: var(--accent6);
}
.exit {
  background: var(--accent7);
}
